<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/Dev.jpeg" alt="Dev" class="img-thumbnail rounded-circle" width ="200">
            <h1 class="display-4">
                Devangga Kertawijaya
            </h1>
            <p class="lead">
                Programmer | Student in MIT
            </p>
        </div>
    </div>
</div>